body{
    font-family: Arial, Helvetica, sans-serif;
	background:Url("/static/imagens/italianfood.jpg") no-repeat;
	background-size:cover;
}

::placeholder {
  color: black;
  opacity: 1;
}

*{text-decoration: none; color:black; font-weight: bold}

form {width: 35%;
}

h1{
   color: white
}

h2 {
  text-align: center;
  color: white;
}

nav{
    width: 100%;
    float: left;
}

input[type=text], input[type=password] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid;
  box-sizing: border-box;
  margin-bottom:20px;
}

button {
  background-color: orange;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border-radius:20px;
  cursor: pointer;
  width: 25%;
}

button:hover {
  opacity: 0.7;
}

.button{
    font-family: Arial;
    background-color: orange;
    font-size: 1em;
    font-style: none;
    color: black;
    padding: 14px 20px;
    text-decoration: none;
    margin: 8px 0;
    border-radius: 20px;
    cursor: pointer;
    width: 25%;
}

.button:link{
    background-color: #334a94;
    color: #ffffff;
}

.button:hover{
    opacity: 0.7;
}

.dados{
        text-align: center;
        font-size: 1em;
}

.button1{
    font-family: Arial;
    background-color: orange;
    font-size: 1em;
    font-style: none;
    color: black;
    padding: 4px 2px;
    border-radius: 5px;
    cursor: pointer;
    width: 25%
}

.button1:link{
    background-color: #334a94;
    color: #ffffff;
}

.button1:hover{
    opacity: 0.7;
}

.button1:disabled{
    background-color: lightgray;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
  margin-left: auto; 
  margin-right: auto;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.navigation{
background-color:black;
border-radius: 30px;
}

.navigation ul{
overflow:auto;
}

.navigation li{
float:right;
list-style: none;
margin: 15px 30px;
}

.naviagtion li a{
padding: 3px 3px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: orange;
  color: white;
}

a{
text-decoration: none;
font-weight: bold;
color:black;
}

.menucontainer {
display: flex;
flex-direction: column;
align-items: center;
}