<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sabores de Itália {{header}}</title>
    <meta name="title" content="Sabores de Itália">
    <meta name="description" content="">
    {% block title %}
    {% endblock %}
  </head>
    <body>
        <nav>
            <ul class="menu">
                {% if ulogin == None %}
                    <li><a class="button" href="/login">Login</a></li>
                {% else %}
                    <li><a class="button" href="/logoff">Logoff</a></li>
                    <li><a class="button" href="/gform/Reserva">Reserva</a></li>
                    <li><a class="button" href="/gform/Menu">Menu</a></li>
                    
                    <li><a class="button" style="color:orange">User: {{ulogin}}</a></li>
                {% endif %}
            </ul>
        </nav>
    {% block content %}
    {% endblock %}
  </body>
</html>