<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>horario demo PCII {{header}}</title>
    {% block title %}
    {% endblock %}
  </head>
    <body>
        <nav>
            <ul class="menu">
                {% if ulogin == None %}
                    <li><a class="button" href="/login">Login</a></li>
                {% else %}
                    <li><a class="button" href="/logoff">Logoff</a></li>
                    <li><a class="button" href="/gform/Docentes">Docentes</a></li>
                    <li><a class="button" href="/gform/Salas">Salas</a></li>
                    <li><a class="button" href="/gform/Turmas">Turmas</a></li>
                    <li><a class="button" href="/gform/UnidadeCurric">UnidadeCurric</a></li>
                    <li><a class="button" href="/gform/Class_horario">Class_horario</a></li>
                   <li>||</li>
                    <li><a class="button" href="/gformT/Docentes?option=''">Docentes</a></li>
                    <li><a class="button" href="/gformT/Class_horario?option=''">Class_horario</a></li>
                    
                    <li><a class="button" href="/hform/horario?option=''">Grelha horario</a></li>
                    
                    <li><a class="button" style="color:lightblue">User: {{ulogin}}</a></li>
                {% endif %}
            </ul>
        </nav>
    {% block content %}
    {% endblock %}
  </body>
</html>