<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Customer order demo PCII</title>
  {% block title %}
  {% endblock %}
</head>
<body>
  <nav>
    <ul class="menu">
      {% if ulogin == None %}
        <li><a class="button" href="/login">Login</a></li>   
      {% else %}
        <li><a class="button" href="/logoff">Logoff</a></li>

        <li><a class="button" href="/submenu?subm=Residente">Reserva</a></li>
        <li><a class="button" href="/submenu?subm=Reserva">dataHora</a></li>
        <li><a class="button" href="/submenu?subm=Estacionamento">status</a></li>

        {% if submenu == "Reserva" %}

        {% endif %}
            </ul>
        </nav>
    {% block content %}
    {% endblock %}
  </body>
</html>
        


