{% extends 'base.html' %}

{% block title %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block content %}
    <div class="dados">
6        <br><br>
        <h1>Reserva</h1>
        <br>
        <form id="form" action="/criar_reserva" method="post">
            <label for="cliente"><b>Cliente:<b></label>
            <input type="text" id="cliente" name="cliente" value="{{ cliente }}" size="30" required />
            <br><br>
            <label for="dataHora"><b>Data e Hora:<b></label>
            <input type="text" id="dataHora" name="dataHora" value="{{ dataHora }}" size="30" required />
            <br><br>
            <label for="status"><b>Status:<b></label>
            <input type="text" id="status" name="status" value="{{ status }}" size="30" required />
            <br><br>
            <button type="submit" class="button1">Criar Reserva</button>
        </form>
        <br><br>
        <h3>{{ resul }}</h3>
    </div>
    
    <div class="lista-reservas">
        <h2>Lista de Reservas</h2>
        {% if reservas %}
            <ul>
                {% for reserva in reservas %}
                    <li>Cliente: {{ reserva.Cliente }}, Data e Hora: {{ reserva.DataHora }}, Status: {{ reserva.status }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Nenhuma reserva encontrada.</p>
        {% endif %}
    </div>
{% endblock %}



